---
http_interactions:
- request:
    method: get
    uri: https://api.profitwell.com/v1/transactions/user/pwu_BcM4gsNy6M2g/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - C8F23218010A843C7725E2252DA803F4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, DELETE, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '[{"user_id":"pwu_BcM4gsNy6M2g","subscription_id":"pws_zUubemOziRph","email":"HookEngine","plan_name":"HookAPITestPlan","plan_interval":"Month","plan_value":10.0,"currency":"usd","start_date":"2016-11-01T07:00:00Z","end_date":"2017-02-28T08:00:00Z","is_pending_processing":false},{"user_id":"pwu_BcM4gsNy6M2g","subscription_id":"pws_zUubemOziRph","email":"HookEngine","plan_name":"HookAPITestPlan","plan_interval":"Month","plan_value":0.0,"currency":"usd","start_date":"2017-02-28T08:00:00Z","end_date":null,"is_pending_processing":false}]'
  recorded_at: Mon, 12 Dec 2016 15:23:56 GMT
recorded_with: VCR 3.0.3
